.folder-list {
    display: inline-flex;
    flex-direction: column;
    width: 20%;
    margin-top: 0;
    margin-left: 10px;
    background-color: #5DB7DE;
}

.folder {
    border: solid; 
}

.folder h3 {
    margin-left: 5px;
}

.add-buttons {
    border: solid;
    margin: 0; 
    padding: 10px;
}

.add-buttons button {
    margin: 0 5px 0 0;
}

/*
button {
    margin: 0 auto; 
}
*/
