.notes-list {
    background-color: #5DB7DE;
    border: solid;
    width: 50%;
    display: inline-flex; 
    flex-direction: column;
    justify-content: right;
    float: right;
    margin-top: 0;
    margin-right: 10px;
    margin-bottom: 10px;
}

.note {
    border: solid;
    text-align: center;
}