
.addFolderDisplay {
    border: solid;
    padding: 10px;
    display: inline-flex;
    flex-direction: column;
    width: 20%;
    margin-top: 0;
    margin-left: 10px;
} 

.note-display {
    border: solid;
    width: 50%;
    display: inline-flex; 
    flex-direction: column;
    justify-content: right;
    float: right;
    margin-top: 0;
    margin-right: 10px;
}



