.note-display {
    border: solid;
    width: 50%;
    display: inline-flex; 
    flex-direction: column;
    justify-content: right;
    float: right;
    margin-top: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #5DB7DE;
}

.note {
    border: solid;
    text-align: center;
}

.note h4 {
    margin: 0;
    padding: 20px;
}

.note button {
    margin-bottom: 5px;
}

/*
.container {
    border: solid;
    height: 100%;
}
*/

