.App {
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.App header {
    text-align: center; 
    border-bottom: solid; 
    margin-bottom: 25px;
    background-color: #07020D;
}

header h1 {
    padding: 30px;
    margin: 0 auto;
    width: 20%;
}

a:link, a:visited {
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    text-decoration: underline;
}

/* border: solid; */