.App {
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

header h1 {
    text-align: center;
}

/*
.note-display {
    flex: 1;
}


.App header .folder-list, .App .note-display {
    display: inline-flex;

}
*/
